/* Upcoming: Container */
div#upcoming {
    width: 90%;
    background-color: var(--color1);
    border-radius: 1em;

    margin-top: 1em;
    margin-bottom: 1em;
}
/* Upcoming: Title */
div#upcoming > h3 {
    margin: 1em;
}

/* Entry: Container */
div#upcoming > div {
    background-color: var(--color1);
    border-radius: 1em;

    margin: 1em;

    display: flex;
    flex-direction: column;
}

/* Entry: Title */
div#upcoming > div > a > h3 {
    margin: 1em;
}
div#upcoming > div > h3 {
    margin: 1em;
}
/* Entry: Title Link States */
div#upcoming > div > a:hover, div#upcoming > div > a > h3:hover {
    color: lightblue;
}
div#upcoming > div > a:active, div#upcoming > div > a > h3:active {
    color: aquamarine;
}

/* Entry: Description */
div#upcoming > div > p {
    margin: 1em;
    margin-top: 0em;
}

/* Media Query: Responsive Design */
@media (min-width: 600px) {
    div#upcoming {
        width: 70%;
    }
}
@media (min-width: 800px) {
    div#upcoming {
        width: 60%;
    }
}
@media (min-width: 1100px) {
    div#upcoming {
        width: 50%;
    }
}