/* Skills: Container */
div#skills {
    width: 90%;
    background-color: var(--color1);
    border-radius: 1em;

    margin-top: 1em;
}

/* Category: Container */
div#category {
    background-color: var(--color1);
    border-radius: 1em;

    margin: 1em;

    display: flex;
    flex-direction: column;
}

/* Category: Title */
div#category > p {
    font-weight: bold;

    margin: 0.5em;
}

/* Category: Icons */
div#category > div {
    margin: 0.5em;
    margin-top: 0em;
    margin-left: 2em;

    display: flex;
    flex-direction: row;
}

/* Category: Icon */
div#category > div > div {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 1em;
    border: 1px solid white;

    margin-right: 1em;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div#category > div > div > img:hover {
    opacity: 0.7;
}

/* Media Query: Responsive Design */
@media (min-width: 600px) {
    div#skills {
        width: 70%;
    }
}
@media (min-width: 800px) {
    div#skills {
        width: 60%;
    }
}
@media (min-width: 1100px) {
    div#skills {
        width: 50%;
    }
}