/* Navbar: Container */
div#navbar {
    width: 94%;
    height: 3em;

    position: sticky;
    top: 0%;
    z-index: 999;
    margin-left: 3%;
    margin-right: 3%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

/* Navbar: Link States */
div#navbar > a:link, div#navbar > a:visited {
    color: white;
}
div#navbar > a:hover {
    color: lightblue;
}
div#navbar > a:active {
    color: aquamarine;
}

/* Navbar: Between Lines */
div#navbar > h3 {
    color: white;
}