/* General */
* {
  margin: 0%;
  padding: 0%;
}

/* Main Containers */
body {
  margin: 0%;
  padding: 0%;
  font-family: var(--font1);
}

/* Fonts */
@font-face {
  font-family: inter;
  src: url("/public/Inter-ExtraLight.ttf");
}

/* Variables */
:root {
  --font1: inter, sans-serif;
}