/* Albums: Container */
div#albums {
    background-color: var(--color1);
    width: 90%;
    border-radius: 1em;

    margin-top: 1em;
}

/* Albums: Heading */
div#albums > h3 {
    margin: 1em;
}

/* Albums: Window */
div#albums > div#window {
    margin: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Albums: Buttons */
div#albums > div#window > button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 10%;
}
div#albums > div#window > button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Albums: Image */
div#albums > div#window > div {
    width: 80%;
    border: 1px solid white;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Albums: Play Icon */
div#albums > div#window > div > a > div {
    background-color: var(--color1);
    width: 90%;
    height: 90%;

    position: absolute;
    top: 5%;
    left: 5%;
}
div#albums > div#window > div > a > div > * {
    opacity: 0.8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Albums: Play Icon Hover Animation */
div#albums > div#window > div > a > div {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}
div#albums > div#window > div > a > div:hover {
    opacity: 1;
}

/* Albums: Text */
div#albums > div#text {
    background-color: var(--color1);
    border-radius: 1em;

    margin: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Albums: Name */
div#albums > div#text > p > span {
    font-weight: bold;
}
/* Albums: Description */
div#albums > div#text > p {
    margin: 0.5em;
}

/* Media Query: Responsive Design */
@media (min-width: 600px) {
    div#albums {
        width: 70%;
    }
}
@media (min-width: 800px) {
    div#albums {
        width: 60%;
    }
    /* Text: Size Adjust */
    div#albums > div#text {
        width: 80%;

        margin-left: 10%;
    }
}
@media (min-width: 1100px) {
    div#albums {
        width: 50%;
    }
}